{% set packages = salt.grains.filter_by({
    'Debian': {
        'pkgs': [
            'libxslt1-dev',
            'libssl-dev',
            'libffi-dev',
            'python-dev',
            'python-cffi',
        ]
    },
    'RedHat': {
        'pkgs': [
            'python-devel',
            'libxml2-devel',
            'libxslt-devel',
            'gcc',
            'openssl',
            'openssl-devel',
            'libffi-devel',
        ]
    }
}) %}
