{% set download_files = [{
    'name': 'get-pip.py',
    'source': 'https://bootstrap.pypa.io',
    'hash': '',
    },{
    'name': 'Python-2.7.13.tgz', 
    'source': 'https://www.python.org/ftp/python/2.7.13',
    'hash': '17add4bf0ad0ec2f08e0cae6d205c700',
    },{
    'name': 'Python-3.6.4.tgz',
    'source': 'https://www.python.org/ftp/python/3.6.4',
    'hash': '9de6494314ea199e3633211696735f65',
    },
] %}
