{% set required_packages = salt.grains.filter_by({
    'RedHat': {
        'pkgs': [
            'gcc', 
            'wget', 
            'zlib', 
            'zlib-devel', 
            'openssl', 
            'openssl-devel',
        ]
    },
    'Debian': {
        'pkgs': [
            'build-essential',
            'checkinstall',
            'libreadline-gplv2-dev',
            'libncursesw5-dev',
            'libssl-dev',
            'libsqlite3-dev',
            'tk-dev',
            'libgdbm-dev',
            'libc6-dev',
            'libbz2-dev',
        ]
    },
}) %}

{% set python_versions = [{
    'name': 'python3', 
    'version': '3.6',
    'release': '3.6.4',
    'hash': '9de6494314ea199e3633211696735f65',
    },{
    'name': 'python2', 
    'version': '2.7',
    'release': '2.7.13',
    'hash': '17add4bf0ad0ec2f08e0cae6d205c700',
    }] 
%}

{% set pip_versions = salt.grains.filter_by({
    'Debian': {
        'pkg': 'python-pip',
    },
    'RedHat': {
        'pkg': 'python2-pip',
    },
}) %}
